  <div class="parallax-container">
     <div class="parallax"><img src="images/crayons.png"></div>
   </div>
   <div class="section white">
     <div class="row container">
       <h2 class="header">Write</h2>
       <h5 class="grey-text text-darken-3 lighten-3">BookWorm provides you with the tools to write a truly personal bedtime story.</h5>
     </div>
   </div>
   <div class="parallax-container">
      <div class="parallax"><img src="images/type.png"></div>
    </div>
    <div class="section white">
      <div class="row container">
        <h2 class="header">Create</h2>
        <h5 class="grey-text text-darken-3 lighten-3">Upload kids' drawings or family photos to bring your story to life.</h5>
      </div>
    </div>
    <div class="parallax-container">
      <div class="parallax"><img src="images/books.png"></div>
    </div>
    <div class="section white">
      <div class="row container">
        <h2 class="header">Read</h2>
        <h5 class="grey-text text-darken-3 lighten-3">Read your story, together, no matter how far away you are from one another.</h5>
      </div>
    </div>
