@import "reset";
@import "vairables";
@import "Materialize/bin/materialize.css";

#firstPageNote {
  position: relative;
  padding-top: 300px;
  z-index: 999;
  }

.addPageButton {
  position: relative;
  z-index: 999;
}